#about {
  width: 100%;
  padding: 40px;
}

#about > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: auto;
}

#about > div > div:first-child{
  width: 53%;
  max-width: 500px;
  margin: 0;
}

#about h2 {
  font-size: 2.62671rem;
  margin-bottom: 2.95rem;
  color: #394832;
}

#about > div > div:last-child{
  width: 40%;
}

#about .swiper-button-prev,
#about .swiper-button-next {
  filter: brightness(100);
  top:auto;
  bottom: 20px;
}